

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper section-home" class="clearfix">


		<section id="slider" class="slider-parallax full-screen with-header force-full-screen clearfix dark">

			<div class="slider-parallax-inner">

				<div class="full-screen force-full-screen" style="background: url(<%= asset_path 'raspberry.jpg' %>) center center no-repeat; background-size: cover; box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);">

					<div class="container clearfix">
						<div class="emphasis-title vertical-middle center">
							<h1 data-animate="fadeInDown"><%= t :statement %></h1>
							<p data-animate="fadeInUp" data-delay="400"><%= t :enforce %></p>
						</div>
					</div>

				</div>
			</div>

		</section>

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
			            <%= link_to root_path, class: "standard-logo" do %><%= image_tag 'logo_n.png', alt: "Canvas Logo" %><% end %>
			            <%= link_to root_path, class: "retina-logo" do %><%= image_tag 'logo@2x.png', alt: "Canvas Logo" %><% end %>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul class="one-page-menu">
							<li class="current"><a href="#" data-href="#section-home"><div><%= t :header_1 %></div></a></li>
							<li><a href="#" data-href="#section-products"><div><%= t :header_2 %></div></a></li>
							<li><a href="#" data-href="#section-pricing"><div><%= t :header_3 %></div></a></li>
							<li><a href="#" data-href="#section-faqs"><div><%= t :header_4 %></div></a></li>
							<li><a href="#" data-href="#section-contact"><div><%= t :header_5 %></div></a></li>
							<li><a href="#" data-href="#section-buy"><div><%= t :header_6 %></div></a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->




		<!-- Content
		============================================= -->

		<section id="content">
			<div class="content-wrap nopadding">
				<div class="section nobg topmargin-lg nobottommargin">
					<div class="container clearfix">
						<div class="col_half nobottommargin center ">
							<%= image_tag "products/SIBERRYA_BR_nutty.png", alt: "Open Imagination" %>
						</div>
						<div class="col_half nobottommargin col_last">
							<div class="heading-block" style="padding-top: 40px;">
								<h2><%= t :first_product_name %></h2>
							</div>
							<p><%= t :first_br_description %></p>
							<button class="button button-border button-large button-rounded topmargin-sm noleftmargin" data-toggle="modal" data-target="#modal_1">View All Tastes</button>
							<div id="modal_1" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-body">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title" id="myModalLabel">Modal Heading</h4>
											</div>
											<div class="modal-body">
												<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
												<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
												<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
												<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
												<p class="nobottommargin">Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="section nobg notopmargin noborder bottommargin-sm">
					<div class="container clearfix">

						<div class="col_half nobottommargin">

							<div class="heading-block" style="padding-top: 40px;">

								<h2><%= t :second_product_name %></h2>
								

							</div>

							<p><%= t :first_ch_description %></p>

							<button class="button button-border button-large button-rounded topmargin-sm noleftmargin" data-toggle="modal" data-target="#modal_2">View All Tastes</button>

							<div id="modal_2" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-body">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title" id="myModalLabel">Modal Heading</h4>
											</div>
											<div class="modal-body">
												<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
												<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
												<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
												<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
												<p class="nobottommargin">Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="col_half bottommargin-sm center col_last">

							<%= image_tag "products/SIBERRYA_CH_black.png", alt: "Open Imagination" %>

						</div>

					</div>
				</div>


				<div class="section nobg topmargin-lg nobottommargin">
					<div class="container clearfix">
						<div class="col_half nobottommargin center">

							<%= image_tag "products/SIBERRYA_RS_sesame.png", alt: "Open Imagination" %>

						</div>

						<div class="col_half nobottommargin col_last">

							<div class="heading-block" style="padding-top: 40px;">

								<h2><%= t :third_product_name %></h2>
								

							</div>

							<p><%= t :first_rs_description %></p>

							<button class="button button-border button-large button-rounded topmargin-sm noleftmargin" data-toggle="modal" data-target=".bs-example-modal-lg">View All Tastes</button>

							<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-body">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title" id="myModalLabel">Modal Heading</h4>
											</div>
											<div class="modal-body">
												<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
												<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
												<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
												<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
												<p class="nobottommargin">Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>






				<div class="divider divider-center"><a href="#" data-scrollto="#section-home"><i class="icon-chevron-up"></i></a></div>



				<div class="container clearfix">


					<div class="clear"></div>

					

					<div id="section-pricing" class="heading-block title-center page-section">
						<h2><%= t :set_title %></h2>
						<span><%= t :set_sub_title %></span>
					</div>

					<div class="pricing bottommargin clearfix">
						<div class="col-md-3" data-animate="fadeInLeft">
							<div class="pricing-box">
								<div class="pricing-title">
									<h3><%= t :first_pack_title %></h3>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&#8381;</span>1500<span class="price-tenure">/box</span>
								</div>
								<div class="pricing-features">
									<ul>

										<li>3 <%= t :first_product_name %></li>
										<li>4 <%= t :second_product_name %></li>
										<li>4 <%= t :third_product_name %></li>
										<li><strong><%= t :shipping %></strong></li>

									</ul>
								</div>
								<div class="pricing-action">
									<a href="#" class="btn btn-danger btn-block btn-lg"><%= t :pack_button %></a>
								</div>
							</div>

						</div>

						<div class="col-md-3" data-animate="fadeInDown"  data-delay="250">
							<div class="pricing-box best-price">
								<div class="pricing-title">
									<h3><%= t :second_pack_title %></h3>
									<span><%= t :second_pack_descr %></span>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&#8381;</span>3000<span class="price-tenure">/box</span>
								</div>
								<div class="pricing-features">
									<ul>
										<li>7 <%= t :first_product_name %></li>
										<li>10 <%= t :second_product_name %></li>
										<li>8 <%= t :third_product_name %></li>
										<li><strong><%= t :shipping %></strong></li>
										<li><i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i></li>
									</ul>
								</div>
								<div class="pricing-action">
									<a href="#" class="btn btn-danger btn-block btn-lg bgcolor border-color"><%= t :pack_button %></a>
								</div>
							</div>
						</div>

						<div class="col-md-3" data-animate="fadeInUp" data-delay="500">
							<div class="pricing-box">
								<div class="pricing-title">
									<h3><%= t :third_pack_title %></h3>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&#8381;</span>4500<span class="price-tenure">/box</span>
								</div>
								<div class="pricing-features">
									<ul>

										<li>15 <%= t :first_product_name %></li>
										<li>15 <%= t :second_product_name %></li>
										<li>12 <%= t :third_product_name %></li>
										<li><strong>2 <%= t :bonus %></strong></li>
										<li><strong><%= t :shipping %></strong></li>

									</ul>
								</div>
								<div class="pricing-action">
									<a href="#" class="btn btn-danger btn-block btn-lg"><%= t :pack_button %></a>
								</div>
							</div>
						</div>

						<div class="col-md-3" data-animate="fadeInRight" data-delay="250">
							<div class="pricing-box">
								<div class="pricing-title">
									<h3><%= t :fourth_pack_title %></h3>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&#8381;</span>6000<span class="price-tenure">/box</span>
								</div>
								<div class="pricing-features">
									<ul>

										<li>18 <%= t :first_product_name %></li>
										<li>25 <%= t :second_product_name %></li>
										<li>18 <%= t :third_product_name %></li>
										<li><strong>3 <%= t :bonus %></strong></li>
										<li><strong><%= t :shipping %></strong></li>

									</ul>
								</div>
								<div class="pricing-action">
									<button class="btn btn-danger btn-block btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg"><%= t :pack_button %></button>

									<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg">
									<div class="modal-body">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title" id="myModalLabel">Modal Heading</h4>
											</div>
											<div class="modal-body">
												<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
												<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
												<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
												<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
												<p class="nobottommargin">Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
											</div>
										</div>
									</div>
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="divider divider-center"><a href="#" data-scrollto="#section-products"><i class="icon-chevron-up"></i></a></div>
				</div>

			</div>
		</section><!-- #content end -->



	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>


</body>
</html>