<!DOCTYPE html>
<html>
  <head>
    <title>Siberrya</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<%= render "layouts/header" %>


    <%= yield %>

    <%= render "layouts/footer" %>

    <%= javascript_include_tag "functions", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "plugins", 'data-turbolinks-track' => true %>
  </body>
</html>
